#register
	.container
		.container-pass
			.title-section
				Reenviar Confirmación
			= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
				= devise_error_messages!
				%div
					%br/
					= f.email_field :email, :autofocus => true, :class=>"input-register", :placeholder=>"Email"
					%br/
					%br/
				%div.pull-right= f.submit "Reenviar confirmación", :class=>"btn btn-login"
				%br/
			= render "devise/shared/links"