#register
  .container
    %center 
      .title-section
        Editar Perfil
    .container-register2
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
        = devise_error_messages!
        %div
          = f.label "Subir avatar"
          = f.file_field :avatar
          = f.hidden_field :avatar_cache
        %br
        %div
          = f.text_area :biografia, class: 'input-register', placeholder: "Biografía", style: "height: 220px;"
        %br  
        %div
          = f.text_field :phone, class: 'input-register', placeholder: "Teléfono"
        %br
        %div
          = f.text_field :date_of_birth, class: 'input-register', placeholder: "Fecha de Nacimiento", id: "date_of_birth", readonly: true 
        %br
        %div
          = f.password_field :current_password, class: 'input-register', placeholder: "Ingrese su contraseña actual para poder hacer los cambios"
        %br
        %div
          = f.submit "Guargar",  class: "btn btn-login pull-right"

:javascript
  $('#date_of_birth').datepicker({
    format: "dd/mm/yyyy"
  });
