#register
	.container	
		%center 
			.title-section
				¡Registrate!
			.subtitle-section
				Forma parte de esta grandiosa experiencia
		.container-register2
			= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
				= devise_error_messages!
				%div 
					=	f.text_field :name, :autofocus => true, class: 'input-register', placeholder: "Nombre"
				%br/ 
				%div
					= f.email_field :email, class: 'input-register', placeholder: "Email"
				%br/
				%div 
					=	f.text_field :city, class: 'input-register', placeholder: "Ciudad donde vives"
				%br/  
				%div 
					=	f.text_field :cedula, class: 'input-register', placeholder: "Cédula de identidad"
				%br/ 
				%div 
					=	f.text_field :phone, class: 'input-register', placeholder: "Teléfono"
				%br/ 
				%div
					=	f.text_field :date_of_birth, class: 'input-register', placeholder: "Fecha de Nacimiento", id: "date_of_birth", readonly: true 
				%br/ 
				%div
					= f.password_field :password, class: 'input-register', placeholder: "Contraseña"
				%br/ 
				%div
					= f.password_field :password_confirmation, class: 'input-register', placeholder: "Confirmar Contraseña"
				%br/ 
				%div= f.submit "Registrar", class: "btn btn-login"
				%br/ 
			= render "devise/shared/links"

:javascript
	$('#date_of_birth').datepicker({
		format: "dd/mm/yyyy"
	});
