<style type="text/CSS">

  .input-group {
    margin-bottom: 10px;
  }

  .captcha-image {
    background: white;
    padding: 0px;
    margin-right: 5px;
  }

  .captcha-field {
    padding: 0px;
  }
</style>


  <div class="col-md-12 col-lg-12" style="margin-bottom: 15px;">

    <div class="captcha-image col-md-12 col-lg-12">
      <span class="input-group-addon" style="background: white;"><%= simple_captcha_options[:image] %></span>
    </div>
    <br class='visible-xs'>
    <div class="captcha-field col-md-12 col-lg-12">
      <input autocomplete="off" id="captcha" name="captcha" placeholder="Escribe el codigo de la imagen" required="required" type="text" class="contactos-input" style="height: 42px;">
    </div>

  </div>
