#categories
	.container
		%center 
			.title-section
				%b
					CATEGORÍAS
			.subtitle-section
				Conóce las publicaciones de los creadores
			.line-section{ style: "margin-bottom: 18px;"}
			.col-lg-4.col-md-4.col-sm-4.col-xs-12.col-lg-offset-8.col-md-offset-8.col-sm-offset-8
				= form_tag root_path(anchor: "all-post"), :method => 'get', class: "pull-right"do
					.input-group
						= text_field_tag :search, params[:search], class: "form-control"
						%span.input-group-btn
							= submit_tag "Search", :name => nil, class: "form-control"
			%br
			%br/ 
			%ul.nav.nav-pills.center-pills
				%li{ class: "#{'active' if params[:category] == 0.to_s}"}
					=link_to "Todas", home_category_path(0, anchor: "categories")
				%li{ class: "#{'active' if params[:category] == 1.to_s}"}
					=link_to "Narrativa", home_category_path(1, anchor: "categories")
				%li{ class: "#{'active' if params[:category] == 2.to_s}"}
					=link_to "Poesia", home_category_path(2, anchor: "categories")
				%li{ class: "#{'active' if params[:category] == 3.to_s}"}
					=link_to "Audiovisual", home_category_path(3, anchor: "categories")
				/%li{ class: "#{'active' if params[:category] == 4.to_s}"}
				/=link_to "Audiovisual", home_category_path(4, anchor: "categories")
		.row#all-post{ style: "padding-top: 20px;" }
			- @posts.reverse.each_with_index do |p, index|
				- if index.modulo(3) == 0
					.row
				- if p.public
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						%center
							.type-img
								- if p.category_id == 1
									- case Random.rand(1..4)
										- when 1
											.type-img-narrativa-1
										- when 2
											.type-img-narrativa-2
										- when 3
											.type-img-narrativa-3
										- when 4
											.type-img-narrativa-4
								- elsif p.category_id == 2
									- case Random.rand(1..4)
										- when 1
											.type-img-poesia-1
										- when 2
											.type-img-poesia-2
										- when 3
											.type-img-poesia-3
										- when 4
											.type-img-poesia-4
								- elsif p.category_id == 3
									- case Random.rand(1..4)
										- when 1
											.type-img-audiovisual-1
										- when 2
											.type-img-audiovisual-2
										- when 3
											.type-img-audiovisual-3
										- when 4
											.type-img-audiovisual-4
								.cover
								%span#item.fa-stack.fa-lg{style:"font-size:50px;"} 
									%i.fa.fa-circle.fa-stack-2x{style:"color: white;"}
									%i.fa.fa-eye.fa-stack-1x{style: "color: #00A2FF;"}
								.flat-categories
									- if p.category_id == 1
										%i.fa.fa-comment.fa-3x{style: "color:#EFF2FB;"}
									- elsif p.category_id == 2
										%i.fa.fa-pencil.fa-3x{style: "color:#EFF2FB;"}
									- elsif p.category_id == 3
										%i.fa.fa-youtube-play.fa-3x{style: "color:#EFF2FB;"}
								.flat-dos.arrow-left
								.flat-tres.arrow-right
								= link_to show_staticpage_path(p.id), id: "item" do
									%span.fa-stack.fa-lg{style:"font-size:50px;"} 
										%i.fa.fa-circle.fa-stack-2x{style:"color: white;"}
										%i.fa.fa-eye.fa-stack-1x{style: "color: #00A2FF;"}
						%h4
							= p.title
						.autor
							%small
								= link_to "#{p.user.name}, ", perfil_path(p.user.id)
								= p.created_at.strftime("%B %d, %Y")
						- if p.category_id != 3
							%p{align:"justify", style:"color:#777;"}
								= "#{p.content.split(" ")[0..40].join(" ")}...".html_safe
						= link_to "Leer más", show_staticpage_path(p.id), class: "leer-mas pull-right", style: "margin-bottom: 15px;"
						%br/
		.row#paginate
			%center 
				= paginate @posts, params: { anchor: "all-post"}

:javascript
	function get_category_post(category) {
		$('#all-post').remove()		
		$('.pagination').remove()
		$.get("/"+category)
	}

	$('ul.nav-pills li a').click(function (e) {
	  $('ul.nav-pills li.active').removeClass('active')
	  $(this).parent('li').addClass('active')
	})

