#home{style:"margin-top:-20px;"}
	- if flash[:notice]
		.container{ style: "background-color=#00A2FF:"}
			%center	
				.alert.alert-success#notice 
					%button{ type:"button", class: "close", "data-dismiss"=>"alert", "aria-hidden"=>"true"}
						%i.fa.fa-times
					%center
						= "#{flash[:notice]}"
	.item-principal-phone.visible-xs
		%center
			= image_tag "logo-white.png", :width => "300px"
	#myCarousel.carousel.slide.hidden-xs
		.carousel-inner
			.active.item.item-principal#item1
				= image_tag "portada.png"
	.container-register
		.container
			%center
				.text-register
					Forma Parte de esta Grandiosa Experiencia.
					%br.hidden-lg
					- unless current_user
						%a.btn.btn-primary.btn-login#registerButton{href:"/users/sign_up"}
							¡Regístrate Ahora!	
					%a.btn.btn-primary.btn-mensaje#registerButton{href:"#mensaje", "data-toggle"=>"modal", "data-target"=>"#mensaje"}
						¡Mensaje de Invitación!	

= render template: "layouts/nosotros"
= render template: "layouts/evento"
= render template: "layouts/patrocinantes"
= render 'posts'
= render template: "layouts/contactanos"
= render template: "staticpage/mensaje_invitacion"
:javascript 

	onepage();