#mensaje.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title 
          %center
            %b 
              Mensaje de Invitación al Evento
      .modal-body{style:"font-family: 'Open Sans', 'sans-serif';"} 
        %center
          %h2
            3er Encuentro Literario de Jóvenes Creadores
        %br
        %p
          Vamos por el tercero
        %p  
          A mi pana M.V
        %p{align:"justify"}  
          Y a todos los seguidores de Santo Tomás de Aquino “ahorita estás fiebrúo, pero te vas a graduar, vas a empezar a trabajar y te vas a dar cuenta de que es muy difícil y cansón”… Sonaba a ritmo de balbuceo disfrazado de grito, empañado por alguna canción de fondo de una de esas pésimas bandas de “rock” que suelen colocar en La Mega. Yo miraba el rostro que escupía aquel epitafio mientras acariciaba una húmeda botella color ámbar, en mi lengua un festín amargo y dulce me invitaba a escuchar mi propia voz, a sonreír en silencio por lo que estaba por comenzar: eso en lo que muy pocos creían (es que es definitivo: Santo Tomás de Aquino tiene más seguidores que Messi, El Che, e incluso el mismísimo Ronald McDonald).
        %p{align:"justify"} 
          Han transcurrido ya dos años desde aquella noche previa a los preparativos del 
          %b 1er Encuentro Literario de Jóvenes Creadores
          , ya estamos en el tercero y no saben cuantas veces he fantaseado con que voy de copiloto en el DeLorean y le digo a Marty que me lleve ante aquel pana, solo para verlo atragantarse. Mentiría si les digo que no es agotador, si les negase que en cada encuentro se va quedando un pedazo de mí, irrecuperable, una porción de lo que era para ir mutando a lo que soy, una constante evolución a partir de lo que se sacrifica. Pero como muy bien dice la letra de aquella canción de Ilegales (Favor no confundir a la legendaria banda española con una cosa latina que existió hace algo más que una década) “Libérate aunque algo tenga que morir”.
        %p{align:"justify"} 
          Estamos ya encontrándonos por tercera vez consecutiva, entre nosotros, y a nosotros mismos, contagiándonos del delirio de hacer lo que nos gusta y como nos gusta.
        %p{align:"justify"} 
          Habrá rostros nuevos, otros no tanto, y tal vez la situación actual del país influya (para bien o para mal) pero en medio de tanta turbulencia política, económica y social, existimos un grupo de personas que sí quiere hacer algo, que repudia a la asquerosa tradición del “reposero” que pasa más días “de permiso” que trabajando, que le agarra una nalga a la apatía y después le invita una cerveza, personas que nos sentimos orgullosos de ignorar todo le lío de los dólares porque el mejor libro del mundo no tiene las páginas color verde. Le armamos una guerrilla de frente a los que no pueden creer sin ver. La Fundación
          %b MACHETE 
          como principal impulsor de esta empresa, junto a la Cátedra Libre de Literatura Agustín García, y demás colaboradores de toda esta realidad mancomunada, le enviamos (al más puro estilo de Rafael Alberti) un Burro Explosivo a todos esos panas que no creyeron en aquel sueño que ya ES: 
          %b EL TERCER ENCUENTRO LITERARIO DE JÓVENES CREADORES.
        %br
        %p{align:"center"}
          %span{style:"font-size:30px;"} 
            Luis Ramones  
          %br
          Fundador del 1er Encuentro Literario de Jóvenes Creadores.
          %br
          Presidente de la Fundación MACHETE
      .modal-footer{style:"margin-top: 0px;"}
        %button.btn.btn-primary{"data-dismiss" => "modal", type: "button"} Cerrar

