#modalCronoResponsive.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title 
          %center
            %b 
              CRONOGRAMA DEL EVENTO
      .modal-body        
        %table.table.table-bordered
          %tr  
            %th{style:"background:#00A2FF;color:#ffffff;"} 
              %center
                Miércoles 18
          %tr
            %th{style:"background:#58D3F7;color:#ffffff;"} 
              %center
                Mañana
          %tr
            %td 
              %center
                Recepción y entrega de materiales.
          %tr
            %th{style:"background:#58D3F7;color:#ffffff;"}  
              %center
                Tarde
          %tr
            %td 
              %center
                Apertura y exposición de cronograma: Luis Ramones .
                %br
                %br/
                Palabras de Lic. Maylén.
                %br
                %br/
                Actividad Organizada por CELYL.
                %br
                %br/
                Intervención de Grupo Febrero.(anfiteatro de módulo c).
          %tr
            %th{style:"background:#58D3F7;color:#ffffff;"}  
              %center
                Noche
          %tr
            %td 
              %center
                Muestra fotográfica en Salón Santa Rosa (INCUDEF).
                %br/ 
                %br/ 
                Recital de poesía en el mismo INCUDEF.
                %br/ 
                %br/ 
                Noche de trova en Bar Garúa.
          %tr  
            %th{style:"background:#00A2FF;color:#ffffff;"}  
              %center
                Jueves 19
          %tr
            %th{style:"background:#58D3F7;color:#ffffff;"}  
              %center
                Mañana
          %tr
            %td 
              %center
                Recital de narrativa (presentado en el anfiteatro de módulo c).
          %tr
            %th{style:"background:#58D3F7;color:#ffffff;"}  
              %center
                Tarde
          %tr
            %td 
              %center
                Almuerzos.
                %br
                %br/
                Ida a
                %b 
                  MIACHICHE. 
                %br
                %br/
                Refrigerios.
          %tr
            %th{style:"background:#58D3F7;color:#ffffff;"}  
              %center
                Noche
          %tr
            %td 
              %center
                Presentación de obra de teatro (Club Bolívar).
                %br/ 
                %br/ 
                Exposición de audiovisuales.
          %tr  
            %th{style:"background:#00A2FF;color:#ffffff;"}  
              %center
                Viernes 20
          %tr
            %th{style:"background:#58D3F7;color:#ffffff;"}  
              %center
                Mañana
          %tr
            %td 
              %center
                Videoconferencia con autor internacional. 
                %br
                %br/ 
                Conversatorio sobre rock, música electrónica y hip hop. (en módulo c).
          %tr
            %th{style:"background:#58D3F7;color:#ffffff;"}
              %center
                Tarde         
          %tr
            %td 
              %center
                Almuerzos.
                %br
                %br/
                Ida a
                %b 
                  ADÍCORA. 
                %br
                %br/
                Refrigerios.
          %tr
            %th{style:"background:#58D3F7;color:#ffffff;"}  
              %center
                Noche          
          %tr
            %td 
              %center
                Entrega de reconocimientos y clausura.
              %br/ 
              %br/ 
              Toque de bandas:
              %br/
              %b
                REVOLUCIÓN
              %br/ 
              %b
                MASMEGAHERTZ
      .modal-footer{style:"margin-top: 0px;"}
        %button.btn.btn-primary{"data-dismiss" => "modal", type: "button"} Cerrar

