#listing-posts
  .container
    %center 
      .title-section
        LISTADO DE TUS TRABAJOS
      .subtitle-section
        %button.btn.btn-primary.btn-login#registerButton
          - if current_user.permit_post?
            = link_to "Nuevo Post", new_post_path
          - elsif current_user.role != "normal"
            = link_to "Nuevo Post", new_post_path
          - elsif current_user.data_blank?
            = link_to_function 'Nuevo Post', 'alert_perfil()', "data-target" => "#validate_perfil", "data-toggle" => "modal"
          - else
            = link_to_function 'Nuevo Post', 'alert_comment()', "data-target" => "#myModal", "data-toggle" => "modal"
      .line-section{ style: "margin-bottom: 18px;"}
      
    #categories{style: "padding-top: 0px;"}
      .row{ style: "padding-top: 20px;" }
        - if @posts.count == 0
          %center
            %h1{style: "color: #00A2FF; margin-bottom: 600px; margin-top: 168px;"} Aún no has escrito algún Post
        - @posts.each_with_index do |p, index|
          - if index.modulo(3) == 0
            .row{ style: "margin-bottom: 10px;"}
          .col-lg-4.col-md-4.col-sm-4.col-xs-12
            %center 
              .type-img
                - if p.category_id == 1
                  - case Random.rand(1..4)
                    - when 1
                      .type-img-narrativa-1
                    - when 2
                      .type-img-narrativa-2
                    - when 3
                      .type-img-narrativa-3
                    - when 4
                      .type-img-narrativa-4
                - elsif p.category_id == 2
                  - case Random.rand(1..4)
                    - when 1
                      .type-img-poesia-1
                    - when 2
                      .type-img-poesia-2
                    - when 3
                      .type-img-poesia-3
                    - when 4
                      .type-img-poesia-4
                - elsif p.category_id == 3
                  - case Random.rand(1..4)
                    - when 1
                      .type-img-audiovisual-1
                    - when 2
                      .type-img-audiovisual-2
                    - when 3
                      .type-img-audiovisual-3
                    - when 4
                      .type-img-audiovisual-4
                .cover
                %span#item.fa-stack.fa-lg{style:"font-size:50px;"} 
                  %i.fa.fa-circle.fa-stack-2x{style:"color: white;"}
                  %i.fa.fa-eye.fa-stack-1x{style: "color: #00A2FF;"}
                .flat-categories
                  - if p.category_id == 1
                    %i.fa.fa-comment.fa-3x{style: "color:#EFF2FB;"}
                  - elsif p.category_id == 2
                    %i.fa.fa-pencil.fa-3x{style: "color:#EFF2FB;"}
                  - elsif p.category_id == 3
                    %i.fa.fa-youtube-play.fa-3x{style: "color:#EFF2FB;"}
                .flat-dos.arrow-left
                .flat-tres.arrow-right
                = link_to preview_path(p.id), id: "item" do
                  %span.fa-stack.fa-lg{style:"font-size:50px;"} 
                    %i.fa.fa-circle.fa-stack-2x{style:"color: white;"}
                    %i.fa.fa-eye.fa-stack-1x{style: "color: #00A2FF;"}
            %h4 
              = "#{p.title} - "
              %span{ style: "color: #00A2FF;"}
                %strong  
                  = "#{p.category}"

              = link_to "Vista previa", preview_path(p.id), class: "leer-mas pull-right"
//modal de instrucciones para comentarios
#myModal.modal.fade.bs-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#mySmallModalLabel.modal-title 
          %center Instrucción
      .modal-body
        Debes 
        %strong{ style: "color: green; "} COMENTAR 
        al menos 3 posts diferentes para poder publicar y ser parte del concurso.
    / /.modal-content
  / /.modal-dialog

  //modal de instrucciones para comentarios
#validate_perfil.modal.fade.bs-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#mySmallModalLabel.modal-title 
          %center Instrucción
      .modal-body
        Debes 
        %strong{ style: "color: green; "} INGRESAR 
        todos los datos de tu perfil.
        = link_to "Editar perfil".html_safe, edit_user_registration_path, :class=>"btn btn-login", :title=>'Editar Perfil'
    / /.modal-content
  / /.modal-dialog

:javascript
  function alert_comment() {
    $('#myModal').modal(options)
  }

  function alert_perfil() {
    $('#validate_perfil').modal(options)
  }

  if ("#{request.original_url.scan("my_posts").count}" == 1) {
    $('.top-nav .active').removeClass("active")
    $('.top-nav li').eq(5).addClass("active")
  }