#listing-posts
	.container
		%center 
			.title-section
				= "#{@usuario.name}".upcase
			.line-section{ style: "margin-bottom: 18px;"}
		.col-lg-4.col-md-4.col-sm-4.col-xs-12
			.image-avatar
				- unless @usuario.avatar.blank?
					= image_tag @usuario.avatar_url, id: "avatar"
				- else
					%img.media-object{alt: "...", src: "http://assets.witendofi.com/assets/default-avatar-2c18690c1ead5b30559911a0d7764ce0.png"}/
		.col-lg-8.col-md-8.col-sm-8.col-xs-12
			- unless @usuario.avatar.blank?
				= @usuario.biografia
			- else
				No ha escrito su biografia.
	.container
		%center		
			%h2
				TRABAJOS REALIZADOS
			.line-section{ style: "margin-bottom: 18px;"}
		#categories{style: "padding-top: 0px;"}
			.row{ style: "padding-top: 20px;" }
				- if @posts.count == 0
					%center
						%h1{style: "color: #00A2FF; margin-bottom: 600px; margin-top: 168px;"} Aún no has escrito algún Post
				- @posts.each_with_index do |p, index|
					- if index.modulo(3) == 0
						.row{ style: "margin-bottom: 10px;"}
					.col-lg-4.col-md-4.col-sm-4.col-xs-12
						%center 
							.type-img
								- if p.category_id == 1
									- case Random.rand(1..4)
										- when 1
											.type-img-narrativa-1
										- when 2
											.type-img-narrativa-2
										- when 3
											.type-img-narrativa-3
										- when 4
											.type-img-narrativa-4
								- elsif p.category_id == 2
									- case Random.rand(1..4)
										- when 1
											.type-img-poesia-1
										- when 2
											.type-img-poesia-2
										- when 3
											.type-img-poesia-3
										- when 4
											.type-img-poesia-4
								- elsif p.category_id == 3
									- case Random.rand(1..4)
										- when 1
											.type-img-audiovisual-1
										- when 2
											.type-img-audiovisual-2
										- when 3
											.type-img-audiovisual-3
										- when 4
											.type-img-audiovisual-4
								.cover
								%span#item.fa-stack.fa-lg{style:"font-size:50px;"} 
									%i.fa.fa-circle.fa-stack-2x{style:"color: white;"}
									%i.fa.fa-eye.fa-stack-1x{style: "color: #00A2FF;"}
								.flat-categories
									- if p.category_id == 1
										%i.fa.fa-comment.fa-3x{style: "color:#EFF2FB;"}
									- elsif p.category_id == 2
										%i.fa.fa-pencil.fa-3x{style: "color:#EFF2FB;"}
									- elsif p.category_id == 3
										%i.fa.fa-youtube-play.fa-3x{style: "color:#EFF2FB;"}
								.flat-dos.arrow-left
								.flat-tres.arrow-right
								= link_to show_staticpage_path(p.id), id: "item" do
									%span.fa-stack.fa-lg{style:"font-size:50px;"} 
										%i.fa.fa-circle.fa-stack-2x{style:"color: white;"}
										%i.fa.fa-eye.fa-stack-1x{style: "color: #00A2FF;"}
						%h4 
							= "#{p.title} - "
							%span{ style: "color: #00A2FF;"}
								%strong  
									= "#{p.category}"

							= link_to "Ver Post", show_staticpage_path(p.id), class: "leer-mas pull-right"
			.row#paginate
				%center 
					= paginate @posts, params: { anchor: "all-post"}