.show-post
	.container  
		%h3
			= @post.title
		.autor
			%small
				%strong= "#{@post.user.name}, "
				= @post.created_at.strftime("%B %d, %Y")
		.content
			- if @post.category_id == 3 and @post.attachments.count == 0
				.video-container
					%center 
						%iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "#{@post.video.gsub('watch?v=', 'embed/')}", :width => "560"}
			- elsif @post.category_id == 3 and @post.attachments.count > 0
				- @post.attachments.each do |image|
					.col-sm-12.col-md-12.col-sm-12.col-xs-12#list-images
						= image_tag image.file_url
					%hr
			- else
				%p{align:"justify", style:"color:#777;"}
					= "#{@post.content}".html_safe
			%br/ 

:javascript
	if ("#{request.original_url.scan("my_posts").count}" == 1) {
		$('.top-nav .active').removeClass("active")
		$('.top-nav li').eq(5).addClass("active")
	  }