= content_for(:title, "#{@post.title}")
.show-post
  .container  
    %h3
      = @post.title
    .autor
      %small
        = link_to "<strong>#{@post.user.name}</strong>, ".html_safe, perfil_path(@post.user.id)
        = @post.created_at.strftime("%B %d, %Y")
    .content
      - if @post.category_id == 3 and @post.attachments.count == 0
        .video-container
          %center 
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "#{@post.video.gsub('watch?v=', 'embed/')}", :width => "560"}
      - elsif @post.category_id == 3 and @post.attachments.count > 0
        - @post.attachments.each do |image|
          .col-sm-12.col-md-12.col-sm-12.col-xs-12#list-images
            = image_tag image.file_url
          %hr
      - else
        = @post.content.html_safe
    
    .votes.col-sm-12.col-md-12.col-sm-12.col-xs-12{ style: "margin-bottom: 30px;"}
      %center

        = link_to like_post_path(@post.id), method: :put, class: "btn btn-primary" do
          %i.fa.fa-thumbs-up.fa-1x
          %span.badge= @post.upvotes.size
        
        /= link_to dislike_post_path(@post.id), method: :put, class: "btn btn-danger" do
        /%i.fa.fa-thumbs-down.fa-1x
        /%span.badge= @post.downvotes.size

    .col-sm-12.col-md-12.container-social.visible-sm.visible-md.visible-lg
      .col-xs-2.col-sm-3.col-md-3.col-lg-2.links-socials#social-facebook
        .fb-like{"data-action" => "like", "data-href" => "#{request.url}", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "true"}
      .col-xs-2.col-sm-3.col-md-3.col-lg-2.links-socials#social-gplus
        .g-plus{"data-action"=>"share", "data-annotation"=>"bubble"}
      .col-xs-2.col-sm-3.col-md-3.col-lg-2.links-socials#social-twitter
        = link_to "Twittear", "https://twitter.com/share", class: "twitter-share-button", "data-lang" => "es", "data-text" => "#tremmel #{@post.title}", "data-url" => "#{request.url}", "data-via" => "tremmelca"
    %ul.ul-xs-socials.visible-xs
      %center
        %li#like
          .fb-like{"data-action" => "like", "data-href" => "#{request.url}", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "true"}
        %li#plus
          .g-plus{"data-action"=>"share", "data-annotation"=>"bubble"}
        %li#tw
          = link_to "Twittear", "https://twitter.com/share", class: "twitter-share-button", "data-lang" => "es", "data-text" => "#MiCreacion #{@post.title}", "data-url" => "#{request.url}", "data-via" => "@creador3s"

  

    .container#comment-area{ style: "width:100%;"}
      .col-sm-12.col-md-12{style:"padding:0px;"}
        .col-sm-12.col-md-12{style:"padding:0px;"}
          %hr
          %h3{ style: "color: #1270A6;" } Comentarios
          - if @post.comments.count == 0
            .comment
              No hay comentarios
          - else
            .comments
              - @post.comments.reverse.each do |c|
                .media
                  %a.pull-left{href: "#"}
                    - unless  c.user
                      %img.media-object{alt: "...", src: "http://assets.witendofi.com/assets/default-avatar-2c18690c1ead5b30559911a0d7764ce0.png", style: "width:64px; heigth:64px;"}/
                    - else 
                      = image_tag c.user.avatar_url, id: "avatar-comment"
                  .media-body
                    %small.pull-right= time_ago_in_words(c.created_at)                
                    %h4.media-heading= c.user ? "#{c.user.name} <small><span style='color: #1270A6;'>Participante</span></small>".html_safe : c.name
                    = c.comment
          %hr
          %h3{ style: "color: #1270A6;"} Deja tu comentario

          %div#comentar
            = form_tag "/posts/add_new_comment" do
              = hidden_field_tag :id, @post.id
              = hidden_field_tag :user_id, current_user ? current_user.id : nil
              - unless current_user
                .col-md-12.input-comment
                  Nombre
                  = text_field_tag :name, nil,class: "form-control"
                %br
              .col-md-12.input-comment
                Contenido
                = text_area_tag :comment, nil,class: "form-control"
              %br
              %p
                = submit_tag "Comentar", class: 'button btn btn-primary btn-login'

:javascript
  //twitter share
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  
  //facebook share
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  //google+ share
  window.___gcfg = {lang: 'es'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();