#listing-posts
  .container
    .panel.panel-default
      / Default panel contents
      .panel-heading Listado de Posts
      / Table
      %table.table
        %thead
          %tr
            %th #
            %th Título
            %th Autor
            %th ¿Publicado?
            %th Fecha de publicación
            %th Acciones
        %tbody
          - @posts.reverse.each do |post|
            %tr
              %td= post.id
              %td
                %strong= post.title
              %td
                = link_to post.user.name, show_user_path(post.user_id)
              - if post.public
                %td
                  %span.glyphicon.glyphicon-ok-circle
              - else
                %td
                  %span.glyphicon.glyphicon-remove-circle
              %td= post.created_at.strftime("%B %d, %Y")
              %td
                = link_to 'Supervisar', post
                | #{link_to 'Editar', edit_post_path(post)} | #{link_to 'Comentarios', comments_path(post.id)} | #{post.public == false ? link_to("Publicar", public_path(post.id)) : link_to("Despublicar", public_path(post.id))} | #{link_to 'Eliminar', post, method: :delete, data: { confirm: '¿Estas seguro de querer eliminar?' }}