#listing-posts
  .container
    .panel.panel-default
      / Default panel contents
      .panel-heading= "Listado de comentarios para el Post - #{@post.title}"
      / Table
      %table.table
        %thead
          %tr
            %th #
            %th Nombre
            %th Comentario
            %th Acción
        %tbody
          - @post.comments.reverse.each do |c|
            %tr
              %td= c.id
              %td
                - unless c.name.blank?
                  %strong= c.name
                - else
                  %strong= c.user.name
              %td= c.comment
              %td
                = link_to 'Eliminar', delete_comments_path(c.id),:confirm => '¿Estas seguro de querer eliminar?', :method => :delete 
                