#listing-posts
	.container
		%center 
			.title-section
				DATOS DE USUARIO
			.line-section{ style: "margin-bottom: 18px;"}
		.container-resgister2
			%center
				%p  
					%label
						Nombre y Apellido: 
					= @user.name
				%p 
					%label
						Cédula:
					= @user.cedula
				%p 
					%label
						Télefono
					= @user.phone
				%p 
					%label
						Ciudad
					= @user.city
				%p 
					%label
						Fecha de Nacimiento:
					= @user.date_of_birth
				%p 
					%label
						Email:
					= @user.email
				%p 
					%label
						Cantidad de Post comentados:
					= @user.cantidad_de_comentarios
				%p 
					%label
						Cantidad de Posts Escritos:
					= @user.cantidad_de_posts
				%label
				%label
				%label
				%label
				%label