#register
	.container
		.container-pass
			.title-section
				¿No recuerdas tu contraseña?
			= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
				= devise_error_messages!
				%div
					= f.email_field :email, :autofocus => true, :class=>"input-register", :placeholder=>"Email"
					%br/
					%br/
				%div.pull-right= f.submit "Reenviar contraseña", :class=>"btn btn-login"
				%br/ 
			= render "devise/shared/links"