#register
	.container
		.container-login2
			%center 
				.title-section
					¡Bienvenido! 
			= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
				%div
				%br/
				= f.email_field :email, :autofocus => true, :class=>"input-register", :placeholder=>"Email"
				%div
				%br/
				= f.password_field :password, :class=>"input-register", :placeholder=>"Contraseña"
				%br/ 
				%br/ 				
				- if devise_mapping.rememberable?
					%div
						= f.check_box :remember_me
						= f.label :remember_me
					%br/ 
				%div.pull-right= f.submit "Entrar", :class=>"btn btn-login"
			%br/ 	
			= render "devise/shared/links"