= nested_form_for @post, :html=>{:multipart => true } do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} Debe llenar los siguientes campos de forma correcta."
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label "Categoría"
    = f.select :category_id, options_for_select(Category.all.collect {|u| [ u.name, u.id ] }), {}, class: "form-control input-register" 
    = f.hidden_field :user_id, value: current_user.id
  .field
    = f.label "Título"
    = f.text_field :title, class: "form-control input-register"
  .field
    .btn-group#btn-select
      %button.btn.btn-default{:type => "button",  onclick: "input_show('images');"} Imagenes
      %button.btn.btn-default{:type => "button", onclick: "input_show('video');"} Video
    %br
    %br
  .field#content
    = f.label "Contenido"
    = f.text_area :content, class: "ckeditor input-register", style: "height: 300px;"
  .field#video
    = f.label "Vídeo"
    = f.text_field :video, class: "form-control"
  .field#images
    = f.fields_for :attachments do |attachment_form|  
      %p
        = attachment_form.label "Imagen"
        = attachment_form.file_field :file
      = attachment_form.link_to_remove "Remover Imagen"
    = f.link_to_add "Añadir imagen", :attachments
  .field.pull-right
    = f.submit 'Guardar', class: "btn btn-primary btn-login"

:javascript
  category_inputs();
  var config = {
    toolbarGroups: [
      { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] }, 
      //{ name: 'paragraph', groups: [ 'blocks', 'align' ] }
    ],
    align: "justify"
  };

  $('.ckeditor').ckeditor(config,{
    
  });