#listing-posts
  .container
    %center 
      .title-section
        LISTADO DE TUS TRABAJOS
      .subtitle-section
        %button.btn.btn-primary.btn-login#registerButton
          = link_to "Nuevo Post", new_post_path
      .line-section{ style: "margin-bottom: 18px;"}

    %table
      %tr
        %th Title
        %th Content
        %th Video
        %th Public
        %th Category
        %th User
        %th
        %th
        %th

      - @posts.each do |post|
        %tr
          %td= post.title
          %td= post.content
          %td= post.video
          %td= post.public
          %td= post.category_id
          %td= post.user_id
          %td= link_to 'Show', post
          %td= link_to 'Edit', edit_post_path(post)
          %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Post', new_post_path
