#new_post
	.container
		%center 
			.title-section
				NUEVO POST
			.subtitle-section
				La creatividad es un don, pon tu imaginación a volar
			.line-section{ style: "margin-bottom: 18px;"}

		= render 'form'

		= link_to 'Volver', my_posts_path, class: "btn btn-primary btn-login"