.show-post
  .container  
    %h3
      = @post.title
    .autor
      %small
        = link_to "<strong>#{@post.user.name}</strong>, ".html_safe, perfil_path(@post.user.id)
        = @post.created_at.strftime("%B %d, %Y")
    .content
      - if @post.category_id == 3 and @post.attachments.count == 0
        .video-container
          %center 
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "#{@post.video.gsub('watch?v=', 'embed/')}", :width => "560"}
      - elsif @post.category_id == 3 and @post.attachments.count > 0
        - @post.attachments.each do |image|
          .col-sm-12.col-md-12.col-sm-12.col-xs-12#list-images
            = image_tag image.file_url
          %hr
      - else
        %p{align:"justify", style:"color:#777;"}
          = "#{@post.content}".html_safe
    %p
      %b ¿Está publucado?:
      = @post.public ? "Si" : "No"
      %br/
    %p
      %b Categoría:
      = @post.category
    %p 
      %b Cantidad de comentarios:
      = @post.comments.count