/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require font-awesome
 *= require_tree .
 */
 @import "twitter/bootstrap";

body{
	font-family: 'Open Sans', 'sans-serif';
}
.btn-login {
 	a {
		text-decoration: none;
		color: white;
	}
 }

.badge {
	background-color: white;
	color: black;
}

.error {
	font-family: 'Open Sans', 'sans-serif';
	color: red;
}

.scroll-up {
	height: 50px;
	width: 50px;
	position: fixed;
	top: 500px;
	right: 3px;
	z-index: 3;
	background-color: none;
	opacity: 0;
}

#btn-select {
	display: none;
}

#images {
	display: none;
}

#notice {
	width: 50%;
	margin-top: 15px;
}

.image-avatar {
	img {
		width: 100%;
		min-height: 350px;
		max-height: 350px;
		margin-bottom: 10px;
		border: solid 2px #00A2FF;
	}
}

#avatar-comment {
	width: 64px;
	height: 64px;
}

.scroll-up > a{
	color: #505050;
}

.scroll-up > a:hover {
	color: #8D8D8D;
}

.field {
	margin-bottom: 15px;
}

.autor {
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 10px;
}

.content {
	text-align: justify;
}

.show-post {
	font-family: 'Open Sans', 'sans-serif';
	margin-top: 60px;

	h3 {
		font-family: 'Open Sans', 'sans-serif';
	}
}

#listing-posts {
	margin-top: 30px;

	table {
		font-size: 12px;
	}
}

.modal-content {
	border: 0px;
	border-radius: 0px;
}

.modal-header {
	background: #00A2FF;
	color: white;
}

.modal-body{
	font-family: 'Open Sans', 'sans-serif';
	font-size: 16px;
}

.video-container {
    position: relative;
    padding-bottom: 40.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#register{
	margin-top: -20px;	
	padding-top: 35px;
}

.leer-mas {
	background-color: #009bdb;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

.leer-mas:hover {
	background-color: rgba(0, 155, 219, 0.66);
	color: white;
	text-decoration: none;
}

.input-register{
	border: 1px solid #c0c0c0;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0px 2px 1px #c0c0c0;
	border: none;
	background: #F3F2F2;
	width: 100%;
}

.container-register2{
	width: 50%;
	margin:4em auto;
}

.container-login2{
	width: 30%;
	margin:4em auto;
	padding-bottom: 80px;
}

.container-pass{
	width: 60%;
	margin:4em auto;
	padding-top: 50px;
	padding-bottom: 150px;
}


@media (max-width: 768px) {
	.container-register2{
		width: 100%;
		margin:4em auto;
	}
	.container-login2{
		width: 100%;
		margin:4em auto;
	}
	.container-pass{
		width: 100%;
		margin:4em auto;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.container-login2{
		width: 50%;
		margin:4em auto;
	}
}

footer {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}

footer span a{
	color: white;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}

footer span a:hover{
	color: white;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}

#user-perfil {
	font-family: 'Open Sans', 'sans-serif';
}

