#video {
	display: none;
}

.container-social {
	margin-bottom: 20px;
}

.ul-xs-socials {
	list-style: none;
	margin-bottom: 25px;
}

.content {
	margin-bottom: 40px;
}

#list-images {
	img { 
		width: 100%;
	}
}

@media screen and (max-width: 780px) { 
	.fb-like {
		top: -25px;
	}

	#plus {
		margin-top: -15px;
		margin-bottom: 5px;
	}

	#tw {
		padding-left: 25px;
	}
}