/* images narrativas */
.type-img-narrativa-1 {
	position: relative;
	background: image-url('categories/narrativa1.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 250px;
}

.type-img-narrativa-2 {
	position: relative;
	background: image-url('categories/narrativa2.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 250px;
}

.type-img-narrativa-3 {
	position: relative;
	background: image-url('categories/narrativa3.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 250px;
}

.type-img-narrativa-4 {
	position: relative;
	background: image-url('categories/narrativa4.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 250px;
}

/* images poesia*/

.type-img-poesia-1 {
	position: relative;
	background: image-url('categories/poesia1.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 250px;
}

.type-img-poesia-2 {
	position: relative;
	background: image-url('categories/poesia2.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 250px;
}

.type-img-poesia-3 {
	position: relative;
	background: image-url('categories/poesia3.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 250px;
}

.type-img-poesia-4 {
	position: relative;
	background: image-url('categories/poesia4.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 250px;
}

/* images audiovisual*/

.type-img-audiovisual-1 {
	position: relative;
	background: image-url('categories/audiovisuales1.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 250px;
}

.type-img-audiovisual-2 {
	position: relative;
	background: image-url('categories/audiovisuales2.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 250px;
}

.type-img-audiovisual-3 {
	position: relative;
	background: image-url('categories/audiovisuales3.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 250px;
}

.type-img-audiovisual-4 {
	position: relative;
	background: image-url('categories/audiovisuales4.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 250px;
}

