#categories{
	z-index: 1;
	font-family: 'Open Sans', 'sans-serif';
	padding-top: 50px;
	padding-bottom: 50px;

	.center-pills { display: inline-block; }
	
	.type-img {
		position: relative;
	  background-size: cover;
	  width: 100%;
	  min-height: 250px;
	}

	h4 {
		font-family: 'Open Sans', 'sans-serif';;
	}

	.cover {
	  width: 100%;
	  height: 0%;
	  background-color: #009bdb;
	  position: absolute;
	  top: 100%;
	  left: 0%;
	  -webkit-transition: width 0.3s, height 0.3s, padding 0.3s, top 0.3s, left 0.3s;
	  -moz-transition: width 0.3s, height 0.3s, padding 0.3s, top 0.3s, left 0.3s;
	  -o-transition: width 0.3s, height 0.3s, padding 0.3s, top 0.3s, left 0.3s;
	  -ms-transition: width 0.3s, height 0.3s, padding 0.3s, top 0.3s, left 0.3s;
	}
	
	#item{
		z-index: -100;
		opacity: 0;
		position: absolute;
		top: -50px;
		left: 35%;
		-webkit-transition: opacity 0.1s, top 0.3s, left 0.3s;
		-moz-transition: opacity 0.1s, top 0.3s, left 0.3s;
		-o-transition: opacity 0.1s, top 0.3s, left 0.3s;
		-ms-transition: opacity 0.1s, top 0.3s, left 0.3s;
	}

	.type-img:hover > .cover {
	  width: 100%;
	  height: 250px;
	  padding: 10px;
	  top: 0%;
	  left: 0%;
	}

	.type-img:hover > #item {
		opacity: 1;
		z-index: 1;
	  top: 30%;
	  left: 35%;
	}

	.title-post{
		font-size: 30px;
		margin:4em auto;
		color:#2E2E2E;
	}
	
	.flat-categories{
		background: #009bdb;
		/*background: -moz-linear-gradient(top, #00A2FF, #0086D3);
	   background: -ms-linear-gradient(top, #00A2FF, #0086D3);
	   background: -webkit-linear-gradient(top, #00A2FF, #0086D3);
	   background: -o-linear-gradient(top, #00A2FF, #0086D3);
	   background: linear-gradient(top, #00A2FF, #0086D3);*/
		width: 71px;
		height: 80px;
		position: absolute;
		/*left:269px;*/
		top:0px;
		padding-top: 30px;
		border-top: 2px solid #1270A6;
		-webkit-transition: width 0.3s, height 0.3s, padding 0.3s, top 1s, left 0.3s, opacity 0.3s;
		-moz-transition: width 0.3s, height 0.3s, padding 0.3s, top 1s, left 0.3s, opacity 0.3s;
		-o-transition: width 0.3s, height 0.3s, padding 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
		-ms-transition: width 0.3s, height 0.3s, padding 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
		z-index: 1;
	}
	.type-img:hover > .flat-categories{		
		top:0px;
		padding: 0px;
		opacity: 0;
		height: 0px;
	}
	.flat-dos{
		width: 15px;
		height: 15px;
		position: absolute;
		left:-5px;
		top:63px;
		-webkit-transition: width 0.3s, height 0.3s, padding 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
		-moz-transition: width 0.3s, height 0.3s, padding 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
		-o-transition: width 0.3s, height 0.3s, padding 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
		-ms-transition: width 0.3s, height 0.3s, padding 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
	}

	.flat-tres{
		width: 15px;
		height: 15px;
		position: absolute;
		left:43px;
		top:55px;
		-webkit-transition: width 0.3s, height 0.3s, padding 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
		-moz-transition: width 0.3s, height 0.3s, padding 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
		-o-transition: width 0.3s, height 0.3s, padding 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
		-ms-transition: width 0.3s, height 0.3s, padding 0.3s, top 0.3s, left 0.3s, opacity 0.3s;
	}

	.arrow-left {
    border:7px solid #009bdb;
		border-right-color:transparent;
		border-left-color:transparent;
		border-width:0px 10px 40px 40px;		
		-webkit-transform: rotate(193deg);
		-moz-transform: rotate(193deg);
		-o-transform: rotate(193deg);
		-ms-transform: rotate(193deg);
	}

	.arrow-right {
    border:7px solid #009bdb;
		border-right-color:transparent;
		border-left-color:transparent;
		border-width:0px 10px 40px 40px;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
	}


	.type-img:hover > .flat-dos{		
		top:10px;
		opacity: 0;
		padding: 0px;
	}

	.type-img:hover > .flat-tres{		
		top:10px;
		opacity: 0;
		padding: 0px;
	}
	
}



	