#contactanos{
	font-family: 'Raleway', sans-serif;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #009bdb;
	color: #ffffff;
}

.line-contactanos{
	height: 20px;
	width: 200px;
	border-bottom: 2px solid #ffffff;
	margin-bottom: 30px;
}

.contactos-lista {
	list-style-type: none
}

.contactos-lista > li > a{
	text-decoration: none;
	color: #FFFFFF;
}

.contactos-input{
	width: 100%;
	padding: 10px;
	box-shadow: 0px 2px 1px #012337;
	color: #1270A6;
	border: none;
	margin-bottom: 10px;
}

.contactos-textarea{
	width: 100%;
	padding: 10px;
	box-shadow: 0px 2px 1px #012337;
	color: #1270A6;
	border: none;
	height: 150px;
	margin-bottom: 10px;
}

.btn-contactos{
	background: #1270A6;
	box-shadow: 0px 2px 1px #012337;
	border: none;
	width: 100%;
}

.btn-contactos:hover{
	color: #ffffff;
}

.contactos-box{
  padding-left: 15px;
  padding-right: 15px;
}
.contactos-box-min{
  padding: 15px;
  width: 50%;
}

.contactos-box-min > a:hover{
	list-style-type: none;	
	color: #c0c0c0;
}

@media screen and (max-width: 768px) {
	.contactos-box-min{
	  padding: 15px;
	  width: 100%;
	}
}