#home{
	font-family: 'Raleway', sans-serif;
	background-color: #009bdb;
}

footer{
	width: 100%;
	padding: 20px;
	background-color: #1270A6;
	font-size: 12px;
	color: #ffffff;
}

.loginbar{	
	padding: 5px;
	background: #E9E9E9;
}

.btn-login{
	background: #00A2FF;
	box-shadow: 0px 2px 1px #054468;
	margin-top: -5px;
	border: none;
	color:#ffffff;
}

.btn-mensaje{
	background: #FACC2E;
	box-shadow: 0px 2px 1px #886A08;
	margin-top: -5px;
	border: none;
	color:#886A08;
}

.btn-mensaje:hover{
	background: #DBA901;
	box-shadow: 0px 2px 1px #886A08;
	margin-top: -5px;
	border: none;
	color:#886A08;
}

.btn-login:hover{
	color:#ffffff;
}

@media screen and (min-width: 768px) {
	.header-navbar{
		height: 200px;
		width: 200px;
		background-color: #ffffff; 		
		box-shadow: 0px 0px 10px #c0c0c0;
		position:absolute;
		left:-10px;
		padding-top: 10px;
		top:-10px;
		z-index: 2;
	}

	.navbar-default {
		z-index: 1;
		background: #ffffff;
		background: -moz-linear-gradient(top, #ffffff, #f2f2f2);/* F 3.6+ */
	  background: -ms-linear-gradient(top, #ffffff, #f2f2f2);/* IE 10+ */
	  background: -webkit-linear-gradient(top, #ffffff, #f2f2f2);/* FF 3.6+ */
	  background: -o-linear-gradient(top, #ffffff, #f2f2f2);/* Safari 5.1+, Chrome 10+ */
	  background: linear-gradient(top, #ffffff, #f2f2f2);/* ESTILO ESTANDAR */
		height: 100px;
	}

	.navbar-nav > li {
		float: left;
		height: 100px;
		
	}

	.navbar-nav > li:hover {
		background-color: #009bdb;				
		-webkit-transition: all 0.5s ease-out;
	}

	.navbar-default .navbar-nav > li > a {
		color: #2E2E2E;
		height: 100px;
		color:#787878;		
		padding-left: 25px;
		padding-right: 25px;
		padding-top: 15px;
	}
	

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #009bdb;   
    .icon-home{
		background: image-url('icons/home-w.png');
	} 
	.icon-users{
		background: image-url('icons/users-w.png');
	} 
	.icon-event{
		background: image- url('icons/event-w.png');
	}
	.icon-categorias{
		background: image-url('icons/flag-w.png');
	}
	.icon-contact{
		background: image-url('icons/contact-w.png');
	}
}

	.navbar-default .navbar-nav > li > a:hover {
		color: #ffffff;
		.icon-home{
			background: image-url('icons/home-w.png');
		}
		.icon-users{
			background: image-url('icons/users-w.png');
		} 
		.icon-event{
			background: image-url('icons/event-w.png');
		}
		.icon-categorias{
			background: image-url('icons/flag-w.png');
		}
		.icon-contact{
			background: image-url('icons/contact-w.png');
		}
	}


	.navbar-collapse .navbar-nav.navbar-right:last-child {
		margin-right: 20px;
	}

	.title-section{
		font-size: 50px;
		margin-bottom: 10px;
	}

	.subtitle-section{
		font-size: 20px;
	}

	.line-section{
		height: 20px;
		width: 200px;
		border-bottom: 2px solid #00A2FF;
		margin-bottom: 30px; 
	}

}

.input-login{
	border: 1px solid #c0c0c0;
	padding: 3px;
	padding-top: 6px;
	padding-bottom: 6px;
	box-shadow: 0px 2px 1px #c0c0c0;
	border: none;
}

.item-principal{
	background: #009bdb;
	color: #ffffff;
}

.item-principal-phone{
	background: #00A2FF;
	color: #ffffff;
	height: 520px;
	padding-top: 50px;
}

.carousel-control-principal{
	background: #ffffff;
	color: #1270A6;
	height: 50px;
	width: 0px;
	margin-top: 250px;
	font-size: 40px;
	padding-top: 0px;
	background-image: none;
}

@media (min-width: 768px) and (max-width: 979px) {
	.carousel-control{
		background: #ffffff;
		color: #1270A6;
		height: 50px;
		width: 0px;
		margin-top: 30%;
		font-size: 40px;
		padding-top: 0px;
		background-image: none;
	}
}

@media (max-width: 768px) {
	.title-section{
		font-size: 35px;
		margin-bottom: 10px;
	}
	.subtitle-section{
		font-size: 15px;
	}

	.line-section{
		height: 20px;
		width: 200px;
		border-bottom: 2px solid #00A2FF;
		margin-bottom: 30px;
	}
}


.carousel-control:hover{
	background-image: none;
	color: #1270A6;
}

.row-carrucel{
	background-color: #ffffff;
	padding:50px;
}

.container-register{
	background-color: #1270A6;
	width:100%;
	color:#ffffff;
	padding:32px;
}

.text-register{
	font-size: 30px;
}

#registerButton{
	font-size: 25px;
}

#img-home-phone{
	margin: 4em auto;
}

.icon{
	background-position: cover;
	width: 50px;
	height: 50px;
}

.icon-home{
	background: image-url('icons/home.png');
}

.icon-users{
	background: image-url('icons/users.png');
}

.icon-event{
	background: image-url('icons/event.png');
}

.icon-categorias{
	background: image-url('icons/flag.png');
}

.icon-contact{
	background: image-url('icons/contact.png');
}