#nosotros{	
	font-family: 'Raleway', sans-serif;
	padding-top: 50px;
	padding-bottom: 50px;
}

.logo-nosotros{
	margin-top: 80px;
}

@media screen and (max-width: 1003px) {
	.logo-nosotros{
		margin-top: 30px;
		margin-bottom: 30px;
		max-width: 300px;
	}
}

