#patrocinantes{
	font-family: 'Raleway', sans-serif;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #009bdb;
	color: #ffffff;
}

.line-patrocinante{
	height: 20px;
	width: 200px;
	border-bottom: 2px solid #ffffff;
	margin-bottom: 30px;
}

.item-commercial{
	color: #ffffff;
}

.row-commercial{
	color: #023350;
}

