<p>Bienvenido <%= @email %>!</p>

<p>Puede confirmar su cuenta de correo electrónico a través del siguiente enlace:</p>

<p><%= link_to 'Confirmar cuenta', confirmation_url(@resource, :confirmation_token => @token) %></p>
