%html
  %head
    %title Administración - Creators
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %link{href: "http://fonts.googleapis.com/css?family=Raleway:400,900", rel: "stylesheet", type: "text/css"}/
    = csrf_meta_tags
  %body
    .loginbar.hidden-xs
      .container
        .row
          .col-md-6.col-sm-4.col-lg-7
            = link_to "Listado de posts", admin_index_path
          - unless current_user 
            .col-md-6.col-sm-8.col-lg-5
              = form_for(:user, :url => user_session_path) do |f|
                = f.text_field :email, class: 'input-login', :placeholder=>"Email"
                = f.password_field :password, class: 'input-login', :placeholder=>"Contraseña"
                = f.submit 'Entrar', class: 'button btn btn-primary btn-login'
          - else
            .col-md-6.col-sm-8.col-lg-5
              .pull-right{style:"margin-top:3px;"}            
                %b{style:"margin-right:5px;"}   
                  %i.fa.fa-user       
                  = current_user.name
                = link_to "Salir", destroy_user_session_path, :method => :delete, :class=>"btn btn-login"
      / /.navbar-collapse
    = yield
    %br
