!!!
%html
	= render template: "layouts/head"
	%body
		= render template: "layouts/navbar"
		= yield
		- if params[:action] != "my_posts" or params[:action] != "show"
			.scroll-up
				= link_to_function "<i class= 'fa fa-caret-square-o-up fa-4x'></i>".html_safe, "#home"
				
	%footer
		%center
			Todos los Derechos Reservados. Desarrollado por 
			%span 
				%b 
					%a{href:'http://www.tremmelca.com/', target:'_blank'}
						TREMMEL
					
					

:javascript
	$(".scroll-up a").click(function() {
		$("body").animate({ scrollTop: 0 }, "slow");
		return false;
	});