#contactanos
	- if flash[:alert]
		.container{ style: "background-color=#00A2FF:"}
			%center	
				.alert.alert-danger#notice 
					%button{ type:"button", class: "close", "data-dismiss"=>"alert", "aria-hidden"=>"true"}
						%i.fa.fa-times
					%center
						= "#{flash[:alert]}"
	.container
		%center 
			.title-section
				%b
					¡CONTÁCTANOS!
			.subtitle-section
				III Encuentro Literario de Jóvenes Creadores
			.line-contactanos
		
			.contactos-box-min
				.row
					= form_tag({controller: "staticpage", action: "enviar_contacto"}, {class: "contact_form"}) do
						.row
							.col-md-12  
								= text_field_tag :name, "", :class=>'contactos-input', :type => "text", :placeholder=>'Nombre'
							.col-md-12
								= text_field_tag :email, "", :class=>'contactos-input', :type => "text", :placeholder=>'Email'
						.row
							.col-md-12
								= text_area_tag :comment, "", :class=>'contactos-textarea' , :placeholder=>'Mensaje'
						.row
							.col-md-12
							/= show_simple_captcha
						.row
							.col-md-12
								= button_tag(type: 'submit', class: "btn btn-contactos", style:"width:100%") do
									%i.fa.fa-envelope.fa-2x{style: "color:white;"}
			%br/ 
			%br/ 
			.row
				.col-md-3.col-sm-3.col-xs-3							
					%a{:href => "https://www.facebook.com/creador3s?fref=ts", target: "_blank", style:"color:#fff;" }
						%i.fa.fa-facebook-square.fa-5x
				.col-md-3.col-sm-3.col-xs-3					
					%a{:href => "https://twitter.com/creador3s", target: "_blank", style:"color:#fff;" }
						%i.fa.fa-twitter-square.fa-5x 	
				.col-md-3.col-sm-3.col-xs-3						
					%a{:href => "", target: "_blank", style:"color:#fff;" }
						%i.fa.fa-google-plus-square.fa-5x
				.col-md-3.col-sm-3.col-xs-3						
					%a{:href => "", target: "_blank", style:"color:#fff;" }
						%i.fa.fa-youtube-square.fa-5x 
			%br/	
			%br/
			%center
				%i.fa.fa-envelope.fa-2x
				info@jovenescreadores.org
				%br 
				%br
				

