#evento
	.container
		%center 
			.title-section
				%b
					EVENTO
			.subtitle-section
				III Encuentro Literario de Jóvenes Creadores
			.line-section
		.row
			.col-lg-4.col-md-4
				%p{align:"justify"}
					El 
					%b
						ENCUENTRO LITERARIO DE JÓVENES CREADORES 
					tiene como fin, Promover sin fines de lucro, el arte y la cultura, la intención principal de este encuentro es dar a conocer escritores inéditos, así como promocionar sus obras y propiciar el compartir de textos y opiniones de índole literaria creando un espacio de exposición y discusión de literatura contemporánea no publicada. La dinámica del evento implica no sólo la simple exposición de sus obras por parte de cada participante sino también la convicción y el compromiso de leer las obras de los demás escritores involucrados. El encuentro se llevará a cabo durante tres días consecutivos en los que se compartirá ensayo, poesía audiovisuales y narrativa.
			.col-lg-4.col-md-4
				%p{align:"justify"}
					%center
						= image_tag "logo-color.png", :width => "300px"
			.col-lg-4.col-md-4
				%p{align:"justify"}
					%b
						CRITERIOS GENERALES PARA PARTICIPACION EN EL EVENTO:
					%b
						1ero: 
					Sólo se aceptarán textos y trabajos audiovisuales inéditos. Sí podrán participar trabajos publicados en blogs personales o redes sociales.
					%b
						2do:
					El creador podrá participar en una categoría o en varias, simultáneamente.
					%b
						3ro: 
					Sólo se aceptarán textos y trabajos audiovisuales inéditos. Sí podrán participar trabajos publicados en blogs personales o redes sociales. 
					%b
						4to: 
					Cada Participante debe comentar al menos 3 trabajos subidos a este portal, luego estará habilitado automáticamente para poder subir el propio, desde su cuenta de usuario se puede subir el material en las diferentes categorías.	
		.row
			.col-lg-4.col-md-4.col-sm-12.col-xs-12
				%p{align:"justify"}
					%i.fa.fa-pencil.fa-2x
					%b POESIA
					No habrá limitaciones temáticas, y se aceptará prosa poética o lírica. La extensión máxima será de 10 cuartillas en tipografía Times New Roman o Arial, tamaño 12 e interlineado 1,5. Los poemas enviados no deberán estar publicados por editoriales.
			.col-lg-4.col-md-4.col-sm-12.col-xs-12				
				%p{align:"justify"}
					%i.fa.fa-comment.fa-2x
					%b NARRATIVA
					Se aceptará microcuentos y cuentos, que no hayan sido publicados por editoriales y que tengan una extensión máxima de 10 cuartillas en tipografía Times New Roman o Arial, tamaño 12 e interlineado 1,5.
			.col-lg-4.col-md-4.col-sm-12.col-xs-12
				%p{align:"justify"}
					%i.fa.fa-youtube-play.fa-2x					
					%b AUDIOVISUALES
					Publica tu video inédito de hasta 10 minutos en YouTube y coloca el link en tu publicacion, incluir descripciones técnicas de la obra y biofilmografía de los responsables. Tambien puedes subir 5 de tus dibujos digitalizados o 5 de tus mejores fotografias.			
		.row
			.col-lg-12.col-md-12	
				%p{align:"justify"}
					%b
						Nota Importante:
					en el caso de que necesites una carta de invitación al
					%b
						“Encuentro Literario de Jóvenes Creadores”
					dirigida a la casa de estudios donde perteneces, deberás informarlo en el mail y enviar los siguientes datos -Nombre Completo – Cédula de Identidad – Nombre de Casa de Estudios.
		%br/ 
		.row
			%center
				.col-lg-6.col.md-6
					%a.btn.btn-primary.btn-login#registerButton{:href => "", :style=>'width:300px'}
						%i.fa.fa-calendar
						Ver Cronograma
				%br.hidden-lg
				.col-lg-6.col.md-6
					%a.btn.btn-primary.btn-login#registerButton{:href => "",  :style=>'width:300px'}
						%i.fa.fa-bookmark
						Reglas del Encuentro
		


