%head
	%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
	= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
	= stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => true
	= javascript_include_tag "application", "data-turbolinks-track" => true
	= javascript_include_tag :defaults, "nested_form"
	= favicon_link_tag 'favicon.png' 
	%title= content_for?(:title) ? yield(:title) : "Jovenes Creadores"
	%link{href: "http://fonts.googleapis.com/css?family=Raleway:400,900", rel: "stylesheet", type: "text/css"}/
	%link{href:'http://fonts.googleapis.com/css?family=Open+Sans', rel:'stylesheet', type:'text/css'}
	= csrf_meta_tags
	:javascript
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-50795914-1', 'jovenescreadores.org');
		ga('send', 'pageview');