.loginbar
	.container
		.row
			.col-md-6.col-sm-4.col-lg-7
				.header-navbar.hidden-xs.hidden-sm
					= image_tag "logo-color.png", :width => "200px"
			- unless current_user 
				.col-md-6.col-sm-8.col-lg-5.hidden-xs
					= form_for(:user, :url => user_session_path) do |f|
						= f.text_field :email, class: 'input-login', :placeholder=>"Email"
						= f.password_field :password, class: 'input-login', :placeholder=>"Contraseña"
						= f.submit 'Entrar', class: 'button btn btn-primary btn-login'
				.col-md-6.col-sm-8.col-lg-5.visible-xs
					= link_to "¡Registrate!", new_user_registration_path, class: 'button btn btn-primary btn-login pull-right'
					= link_to "Login", new_user_session_path, class: 'button btn btn-primary btn-login pull-right', style: "margin-right: 10px;"
			- else
				.col-md-6.col-sm-8.col-lg-5
					.pull-right{style:"margin-top:3px;"}			
						= link_to "<i class='fa fa-user'> #{current_user.name}</i>".html_safe, perfil_path(current_user.id), :class=>"btn btn-login", :title=>'Ver Perfil', id: "user-perfil"
						= link_to "<i class='fa fa-cog'></i>".html_safe, edit_user_registration_path, :class=>"btn btn-login", :title=>'Editar Perfil'
						= link_to "<i class='fa fa-sign-out'></i>".html_safe, destroy_user_session_path, :method => :delete, :class=>"btn btn-login", :title=>'Cerrar Sesión'


%nav.navbar.navbar-default{role: "navigation"}
	.navbar-header
		%button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
			%span.sr-only Toggle navigation
			%span.icon-bar
			%span.icon-bar
			%span.icon-bar
		%a.navbar-brand
		%div.visible-xs.navbar-brand
	#bs-example-navbar-collapse-1.collapse.navbar-collapse
		%ul.nav.navbar-nav.navbar-right.top-nav
			%li{ class: "#{'active' if params[:action] == 'option'}"}
				= link_to "<center><div class='icon icon-home hidden-xs'></div> <span>Inicio</span></center>".html_safe, root_path(anchor: "home")
			%li{ class: "#{'active' if params[:action] == 'option'}"}
				= link_to  "<center><div class='icon icon-users hidden-xs'></div> <span>Nosotros</span></center>".html_safe,root_path(anchor: "nosotros")
			%li{ class: "#{'active' if params[:action] == 'index'}"}
				= link_to  "<center><div class='icon icon-event hidden-xs'></div> <span class>Evento</span></center>".html_safe,root_path(anchor: "evento")
			%li{ class: "#{'active' if params[:action] == 'show'}"}
				= link_to  "<center><div class='icon icon-categorias hidden-xs'></div> <span>Categorías</span></center>".html_safe, root_path(anchor: "categories") 
			%li{ class: "#{'active' if params[:action] == 'option'}"}
				= link_to  "<center><div class='icon icon-contact hidden-xs'></div> <span>Contáctanos</span></center>".html_safe, root_path(anchor: "contactanos")
			%li 
				- if current_user 
					= link_to  "<center><div class='icon icon-event hidden-xs'></div> <span>Mis Posts</span></center>".html_safe, my_posts_path, class: "external"
			
						
