#nosotros
	.container
		%center 
			.title-section
				%b
					NOSOTROS
			.subtitle-section
				¿Quiénes Organizan el III Encuentro Literario de Jóvenes Creadores?
			.line-section
		.row
			.col-lg-4.col-md-4
				%p{align:"justify", style:"font-family: 'Open Sans', 'sans-serif';"}
					La fundación por el Movimiento Artístico Cultural que Hace Efecto y Tumba Estrellas (MACHETE), nace con la misión inequívoca y constante de promover e impulsar, sin fines de lucro, el arte y la cultura en todas sus presentaciones, especialmente las tendencias del tipo alternativas, las cuales son poco consideradas y apoyadas por los medios oficiales; esto se realiza a través de la planificación, organización, producción y difusión de eventos artísticos y culturales de alto nivel, la publicación de material impreso y cualquier otro medio del que la fundación disponga y considere pertinente para el cumplimiento de las metas.
			.col-lg-4.col-md-4
				%p{align:"justify"}
					%center
						= image_tag "machete-logo.png", :class=>'logo-nosotros img-responsive'
			.col-lg-4.col-md-4
				%p{align:"justify", style:"font-family: 'Open Sans', 'sans-serif';"}
					MACHETE se mueve con la ambiciosa visión de ser pioneros en la producción, promoción y difusión de obras y eventos de índole artística y cultural, con un alcance de proporciones nacionales e internacionales, la idea fundamental es que estos eventos propicien el intercambio de talentos regionales y nacionales así como impulsar la proyección de las nuevas voces de la creación artística en todas las categorías. Es por nuestro objetivo principal que traemos a ustedes la III edición del encuentro de jóvenes talentosos, donde encontrará un intercambio literario de altos niveles, listos para la proyección nacional e internacional.
		
		

