#patrocinantes
	.container
		%center 
			.title-section
				%b
					PATROCINANTES
			.subtitle-section
				Ellos Hacen Posible el III Encuentro Literario de Jóvenes Creadores
			.line-patrocinante
	#myCarousel2.carousel.slide			
		.carousel-inner
			.active.item.item-commercial											
				.col-lg-3.col-md-3.col-sm-6.col-xs-12
					%center 
						.content-img-client
						/	=image_tag "cliente6.png", width: "100%;"
				.col-lg-3.col-md-3.col-sm-6.col-xs-12
					%center 
						.content-img-client
						/	=image_tag "cliente6.png", width: "100%;"
				.col-lg-3.col-md-3.col-sm-6.col-xs-12
					%center 
						.content-img-client
						/	=image_tag "cliente6.png", width: "100%;"
				.col-lg-3.col-md-3.col-sm-6.col-xs-12
					%center 
						.content-img-client
						/	=image_tag "cliente6.png", width: "100%;"
			.item.item-commercial	
				.col-lg-3.col-md-3.col-sm-6.col-xs-12
					%center 
						.content-img-client
						/	=image_tag "cliente6.png", width: "100%;"
				.col-lg-3.col-md-3.col-sm-6.col-xs-12
					%center 
						.content-img-client
						/	=image_tag "cliente6.png", width: "100%;"
				.col-lg-3.col-md-3.col-sm-6.col-xs-12
					%center 
						.content-img-client
						/	=image_tag "cliente6.png", width: "100%;"
				.col-lg-3.col-md-3.col-sm-6.col-xs-12
					%center 
						.content-img-client
						/	=image_tag "cliente6.png", width: "100%;"
			.item.item-commercial			
				.col-lg-4.col-md-4.col-sm-6.col-xs-12
					%center 	
						.content-img-client
						/	=image_tag "cliente6.png", width: "100%;"
				.col-lg-4.col-md-4.col-sm-6.col-xs-12
					%center 
						.content-img-client
						/	=image_tag "cliente6.png", width: "100%;"
				.col-lg-4.col-md-4.col-sm-6.col-xs-12
					%center 
						.content-img-client
						/	=image_tag "cliente6.png", width: "100%;"

		%a.carousel-control.carousel-control-commercial.left{"data-slide" => "prev", href: "#myCarousel2", style:"background:none;" } 
			%span.glyphicon.glyphicon-chevron-left.row-commercial{ style: "left: 40px;" }
		%a.carousel-control.carousel-control-commercial.right{"data-slide" => "next", href: "#myCarousel2", style:"background:none" } 
			%span.glyphicon.glyphicon-chevron-right.row-commercial{ style: "right: 40px;" }
.container{ style: "width:100%; padding: 0px; margin-top:0px;"}
	#map_canvas
